@media all and (min-width: rem(771)) {
    section {
        padding-left: rem(10) !important;
        padding-right: rem(10) !important;
    }

    .mobile-device {
        display: none !important;
    }

    .header__btn-forum {
        display: inline-block;
        $btnwidth: 175px;
        width: $btnwidth;
        height: 60px;
        position: absolute;
        top: -180px;
        right: 0;
        cursor: pointer;
        border-radius: 10px;
        background-image: linear-gradient(0deg, #1f54c3, #5785e7);
        color: #ffffff;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8);
        font-family: 'marmelad', sans-serif;
        font-size: 30px;
        text-align: center;
        padding-top: 10px;
        box-shadow: 0 rem(3) 0 #1d376c;

        &:hover {
            background-image: linear-gradient(0deg, #1f54c3, #679eff);
        }
        &:active {
            background: linear-gradient(0deg, #1f54c3, darken(#5785e7, 10%));
            box-shadow: 0 0 0 rem(2) #1d376c;
        }
    }


    .lang_selector {
        top: rem(-180);
    }

    .title_left,
    .title_right {
        &::before {
            position: absolute;
            content: "";
            bottom: 0px;
            width: 230px;
            height: 1px;
            background-color: #ffea00;
        }
    }

    .title_left {
        &::before {
            left: 0px;
        }
    }
    .title_right {
        text-align: right;

        &::before {
            right: 0px;
        }
    }

    .form__logo-richdom {
        width: 366px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -140px;

        img {
            width: 100%;
        }
    }

    .form {
        max-width: 760px;
        margin: auto;
        background: rgba(51, 89, 144, .9);
        background: linear-gradient(to top, rgba(11, 57, 117, 0.8), rgba(25, 78, 146, 0.8));
        border-radius: 10px;
    }

    /* --------------- header ----------------- */
    .header {
        padding: 240px 0 50px;
        background: url('images/bg-1.png') center center;
        background-repeat: no-repeat;
        background-size: cover;
        border-bottom: solid 2px #ffea00;

        .store-buttons {
            text-align: center;

            margin: 0 auto;
            padding-top: rem(70);

            max-width: rem(500);
            height: rem(145);

            a {
                display: none;
                margin-right: rem(24);

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    /* --------------- about-game ----------------- */
    .about-game {
        padding: 100px 0 200px;
        background: url('images/bg-2.png') center center;
        background-repeat: no-repeat;
        background-size: cover;
        border-bottom: solid 2px #ffea00;
    }

    .about-slider_list {
        display: block;
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .about-slider_item {
        $animDuration: 0.3s;
        $animStyle: ease-in-out;
        $animWait: $animDuration/2;

        display: inline-block;
        position: relative;
        width: 12%;
        height: rem(600);
        border-radius: 10px;
        border: 2px solid #ffea00;
        overflow: hidden;

        transition: all $animDuration $animStyle;

        @media all and (max-width: rem(1155)){
            height: rem(530);
        }

        @media all and (max-width: rem(1024)){
            height: rem(470);
        }

        @media all and (max-width: rem(900)) {
            height: rem(400);
        }

        @media all and (max-width: rem(850)) {
            height: rem(400);
        }

        p {
            position: absolute;
            text-align: center;
            bottom: 40px;
            right: 0;
            left: 0;
            font-family: 'marmelad', sans-serif;
            font-size: 18px;
            line-height: 1.2;
            text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8);
            color: #fff;

            @media all and (max-width: rem(1240)) {
                font-size: 16px;
            }
            @media all and (max-width: rem(1160)) {
                font-size: 14px;
            }
            @media all and (max-width: rem(980)) {
                font-size: 10px;
            }
        }

        .slider-bg,
        .white-line {
            position: absolute;
            top: 0;
            bottom: 0;
            opacity: 0;
            transition: all $animDuration $animStyle;
        }
        .slider-bg {
            left: 0;
            right: 0;
            z-index: 1;
        }

        .white-line {
            width: 0;
            background: #e7f1fe;
            z-index: 2;
        }

        .hero,
        .hero-active {
            position: absolute;
            left: -25%;
            bottom: 0;
            z-index: 6;
            transition: all $animDuration $animStyle $animWait;

            @media all and (max-width: rem(800)) {
                left: -35%;
            }
        }

        .hero {
            opacity: 1;
        }
        .hero-active {
            opacity: 0;
        }

        & .text_normal,
        & .text_active {
            position: absolute;
            z-index: 9;
        }

        & .text_normal {
            display: block;
        }
        & .text_active {
            visibility: hidden;
            opacity: 0;
            transition: visibility, opacity $animDuration $animStyle $animWait;
        }

        &.active {
            width: 63%;
            border: rem(2) solid rgb(228, 239, 254);

            p {
                font-size: 40px;
                line-height: 1.3;
                bottom: 30px;

                @media all and (max-width: rem(980)) {
                    font-size: 30px;
                }
            }

            .slider-bg {
                opacity: 1;
            }
            .white-line {
                width: rem(150);
                opacity: .9;
            }

            .hero,
            .hero-active {
                left: 1%;
            }

            .hero {
                opacity: 0;
            }

            .hero-active {
                opacity: 1;
            }

            & .text_normal {
                display: none;
            }
            & .text_active {
                display: none;
                visibility: visible;
                opacity: 1;
            }
            &:before {
                opacity: 1;
            }
        }

        &-1 {
            .hero,
            .hero-active {
                width: 264px;
                max-width: 264px;
                @media all and (max-width: rem(1155)){
                    width: 230px;
                    max-width: 230px;
                }
                @media all and (max-width: rem(1024)){
                    width: 200px;
                    max-width: 200px;
                }
                @media all and (max-width: rem(900)) {
                    width: 170px;
                    max-width: 170px;
                }
            }
            .slider-bg {
                background: url('images/heroes/1-1.jpg?v=5') no-repeat center center/cover;
            }
        }
        &-2 {
            .hero,
            .hero-active {
                left: -35%;
                width: 293px;
                max-width: 293px;
                @media all and (max-width: rem(1155)){
                    left: -40%;
                    width: 250px;
                    max-width: 250px;
                }
                @media all and (max-width: rem(1024)){
                    left: -40%;
                    width: 220px;
                    max-width: 220px;
                }
                @media all and (max-width: rem(900)) {
                    left: -55%;
                    width: 187px;
                    max-width: 187px;
                }
            }
            .slider-bg {
                background: url('images/heroes/2.jpg?v=2') no-repeat center center/cover;
            }
        }
        &-3 {
            .hero,
            .hero-active {
                width: 253px;
                max-width: 253px;
                @media all and (max-width: rem(1155)){
                    width: 215px;
                    max-width: 215px;
                }
                @media all and (max-width: rem(1024)){
                    width: 190px;
                    max-width: 190px;
                }
                @media all and (max-width: rem(900)) {
                    width: 160px;
                    max-width: 160px;
                }
            }
            .slider-bg {
                background: url('images/heroes/3.jpg?v=2') no-repeat center center/cover;
            }
        }
        &-4 {
            .hero,
            .hero-active {
                left: -20%;
                width: 224px;
                max-width: 224px;
                @media all and (max-width: rem(1155)){
                    width: 190px;
                    max-width: 190px;
                }
                @media all and (max-width: rem(1024)){
                    width: 170px;
                    max-width: 170px;
                }
                @media all and (max-width: rem(900)) {
                    width: 140px;
                    max-width: 140px;
                }
            }
            .slider-bg {
                background: url('images/heroes/4.jpg?v=2') no-repeat center center/cover;
            }
        }

        &:before {
            content: '';
            background: linear-gradient(180deg, transparent, rgba(#0a1c4a, .85));
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: rem(280);
            opacity: 0;
            z-index: 8;
            transition: opacity $animDuration $animStyle $animWait;
        }
    }

    /* --------------- media ----------------- */
    .media {
        padding: 80px 0 70px;
        background: url('images/bg-3.png') center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .widget {
        width: 500px;
        height: 234px;
        margin: auto;
        margin-top: 45px;
    }

    .section-media,
    .section-soc {
        position: relative;
    }

    .section-media .devices {
        text-align: center;
    }
    .slider-game,
    .slider-video {
        display: inline-block;
        vertical-align: bottom;
    }

    .slider-game {
        background: url('images/ipad.png') 0 0 no-repeat;
        background-size: 100% 100%;
        width: 51.33%;
        //height: 921px;
        position: relative;
        //top: -30px;
        z-index: 10;
        margin-right: 2.34%;
        padding: 4.89% 2.4%;

    }
    .slider-video {
        background: url('images/iphone.png') 0 0 no-repeat;
        background-size: 100% 100%;
        padding: 5.315% 1.3%;
        width: 21.64%;
        //height: 565px;
        z-index: 20;
        //position: absolute;
        //right: 100px;
        //bottom: 0;

        .btn-video {
            display: block;
            position: relative;

            &:before {
                display: block;
                content: url("images/play-button.svg");
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                width: rem(130);
                height: rem(130);
            }
        }

        .slick-arrow {
            background-size: 65px 65px !important;
            width: rem(32.5);
            height: 65px;

            &.slick-prev {
                background-position: rem(-32.5) 0;
                left: 6%;
                &:hover {
                    background-position: rem(-32.5) 0;
                }
            }
            &.slick-next {
                background-position: 0 0;
                right: 6%;
                &:hover {
                    background-position: 0 0;
                }
            }
        }
    }
    .head-news_video {
        display: block;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -2;
    }

    .playr_wrap {
        display: none;
        width: 100%;
        height: 100%;
        background: rgba(25, 25, 25, 0.4);
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: 1500;
    }
    .playr_trailer {
        width: 800px;
        height: 460px;
        position: fixed;
        bottom: 0;
        right: 0;
        top: 0;
        left: 0;
        margin: auto;
    }

    .section-soc {
        margin-top: 70px;
    }

    /* --------------- footer ----------------- */
    .footer {
        padding: 40px 0 60px;
        background-color: rgb(19, 44, 108);
        text-align: center;
    }
    .footer_logo {
        margin-top: 20px;
    }

    .footer__copy {
        width: rem(770);
        margin-left: auto;
        margin-right: auto;
    }

    .footer_logo-game-sambs {
        display: inline-block;
        width: 161px;
        height: 21px;
        background-color: #fff;
        // img {
        //   width: 100%;
        // }
    }
}
