// преобразоване s в vw
@function get-vw1100($target) { 
  $vw-context: (1100*.01) * 1px;
  @return ($target/$vw-context) * 1vw;
}
@function get-vw1160($target) {
  $vw-context: (1160*.01) * 1px;
  @return ($target/$vw-context) * 1vw;
}
@function get-vw-hd($target) { 
  $vw-context: (1280*.01) * 1px;
  @return ($target/$vw-context) * 1vw;
}

#blocks-menu {
  display: none;
}

@media screen and (min-width: 781px) {
  .wrap-land {
    overflow: hidden;
    position: relative;
  }
  .container {
    width: 100%;
    position: relative;
    margin: auto;
  }
  #blocks-menu {
      $menu_normal: rgba(#2a1c34, .85);
      $menu_active: rgba(#d39033, .85);
      display: block;
      position: fixed;
      top: 30%;
      right: get-vw-hd(42.75px);
      z-index: 101;

      ul {
        display: block;
        text-align: right;
        width: get-vw-hd(42.75px);

        li {
          display: inline-block;
          float: right;
              cursor: pointer;
              text-align: right;

              font-size: get-vw-hd(22px);
              font-family: "Kurale", serif;


              padding: 0 get-vw-hd(21.375px);
              margin-bottom: get-vw-hd(11px);

              line-height: get-vw-hd(42.75px);
              position: relative;


              div {
                  background: $menu_normal;

                  overflow: hidden;
                  text-wrap: none;
                  text-overflow: ellipsis;
                  padding: 0;
                  width: 0;
                  height: get-vw-hd(42.75px);


                  &:before,
                  &:after {
                      @include size(0);

                      display: block;
                      content: '';
                      position: absolute;
                      top: 0;
                      border: get-vw-hd(21.375px) solid transparent;
                  }

                  &:before {
                      left: 0;
                      border-right-color: $menu_normal;
                      border-left-width: 0;
                  }
                  &:after {
                      right: 0;
                      border-left-color: $menu_normal;
                      border-right-width: 0;
                  }
              }

              &:hover,
              &.active {
                  &:before {
                      @include size(get-vw-hd(42.75px));
                      display: block;
                      content: '';

                      background: url("images/menu_active.png") no-repeat center center/cover;

                      position: absolute;
                      top: 0;
                      right: 0;
                      z-index: 1;
                  }

                  div {
                      background: $menu_active;
                      &:before {
                          border-right-color: $menu_active;
                      }
                      &:after {
                          border-left-color: $menu_active;
                      }
                  }
              }
          }
          &:hover {
              li {
                  div {
                      padding: 0 get-vw-hd(42.75px) 0 get-vw-hd(21.375px);

                      text-wrap: normal;
                      text-overflow: unset;
                      width: auto;
                      min-width: get-vw-hd(149.76px);
                  }
              }
          }
      }
  }

  /* ----------- smallDESK wrap-land ----------- */
  .header-land {
    width: 100%;
    height: get-vw-hd(888px);
    padding-top: get-vw-hd(50px);
    background: url('images/desk/bg1.jpg') center center no-repeat;
    background-size: cover;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      background: url('images/desk/bg1_after.png') 0 0 no-repeat;
      background-size: cover;
      left: 50%;
      transform: translateX(-50%);
      top: 100%;
      width: get-vw-hd(2560px);
      height: get-vw-hd(177px);
      margin-top: get-vw-hd(-3px);
      z-index: 5;
    }

    .mob-stores {
      //display: block;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: get-vw-hd(15px);
      width: get-vw-hd(500px);
      margin: 0 auto;

      .store_btn {
        display: block;

        width: get-vw-hd(150px);

        &:first-child {
          //float: left;
          text-align: right;
        }

        &:last-child {
          //float: right;
          text-align: left;
        }
      }
    }
    .mob-stores2 {
      //display: block;
      display: flex;
      justify-content: center;
      align-items: center;
      width: get-vw-hd(500px);
      margin: 0 auto;
      margin-top: get-vw-hd(15px);

      .store_btn {
        display: block;

        width: get-vw-hd(250px);

      }
    }
  }

  .share-desk {
    display: block;
  }
  .share-desk__buttons {
    position: fixed;
    top: 27%;
    left: 20px;
    z-index: 10;
  }
  @each $share_btn in fb, vk, ok, mm {
    .share-desk__#{$share_btn} {
      display: block;
      $width: 73px;
      width: $width;
      height: 75px;
      background: url('images/desk/share-#{$share_btn}.png') no-repeat;
      background-position: 0 0;
      background-size: 300% 100%;
      &:hover {
        background-position: ($width*-1) 0;
      }
      &:active {
        background-position: ($width*-2) 0;
      }
    }
  }

  .lang-mobile {
    display: none;
  }
  .lang-desk {
    display: block;
    .lang_selector {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 56px;
      height: 56px;
      z-index: 5;
    }
    .current-lang {
      position: absolute;
      top: 0;
      right: 0;
      width: 56px;
      height: 56px;
      background: url('images/lang/desk-ru.png')no-repeat;
      background-size: 275px 300%;
      background-position: top right;
      cursor: pointer;
    }
    .lang-selection {
      position: absolute;
      top: 0;
      right: 0;
      width: 275px;
      height: 0;
      overflow: hidden;
      transition: height .2s ease-out;

      li {
        width: 100%;
        height: 56px;
      }
      a {
        width: 100%;
        height: 100%;
        display: block;
        color: #ffffff;
        text-align: center;
        font-family: $kurale;
        font-size: 26px;
        text-decoration: none;
        line-height:1.85;
        &.lang-ru {
          background: url('images/lang/desk-ru.png') no-repeat;
          background-position: 0 -56px;
          background-size: 100% 300%;
          &:hover {
            background-position: 0 -112px;
          }
        }
        &.lang-en {
          background: url('images/lang/desk-en.png') no-repeat;
          background-position: 0 -56px;
          background-size: 100% 300%;
          &:hover {
            background-position: 0 -112px;
          }
        }
      }
    }
    .lang_selector:hover {
      .lang-selection {
        height: 115px;
      }
    }
  }
  .logo-land {
    width: get-vw1100(1000px);
    margin: auto;
    margin-bottom: get-vw-hd(40px);
    // transform: translateX(-60px);
    display: flex;
    align-items: top;
    justify-content: space-between;
  }
  .logo_perfect-world {
    // width: get-vw1100(256px*0.9);
    // height: get-vw1100(49px*0.9);
    width: get-vw1100(230px);
    height: get-vw1100(45px);
    margin-top: 35px;
    background: url('images/logo_perfect-world2.png') center center no-repeat;
    background-size: 100% 100%;
  }
  .logo_jade-dynasty {
    width: get-vw1100(457px);
    height: get-vw1100(222px);
    transform: translateX(-11%);
    background: url('images/logo_jade-dynasty.png') center center no-repeat;
    background-size: cover;
  }
  .logo_101xp {
    width: get-vw1100(149px);
    height: get-vw1100(59px);
    margin-top: 25px;
    background: url('images/logo_101xp.png') center center no-repeat;
    background-size: cover;
  }
  .new-age {
    position: relative;
    width: get-vw-hd(550px);
    margin: auto;
  }
  .new-age_title {
    font-family: $kurale;
    font-size: get-vw-hd(36px);
    line-height: 1.2;
    margin-bottom: get-vw-hd(20px);
    color: rgb(62,46,46);
    span {
      font-weight: bold;
      text-transform: uppercase;
      position: relative;
      font-size: get-vw-hd(50px);
      color: #59496b;
    }
  }
  .new-age_text {
    font-family: $roboto;
    font-size: get-vw-hd(30px);
    line-height: 1.2;
    color: rgb(62,46,46);
    padding: get-vw-hd(50px) 0;

    strong {
      text-transform: uppercase;
      color: #59496b;
    }
  }
  .new-age_btn {
    display: block;
    background: url('images/button-gift.png') no-repeat;
    background-position: 0 0;
    background-size: 200% 100%;
    $width: 440px;
    width: $width;
    height: 138px;
    z-index: 5;
    cursor: pointer;
    margin: auto;
    margin-top: get-vw-hd(20px);
    &:active {
      background-position: ($width * -1) 0;
    }
  }

  /* ----------- smallDESK video-block ----------- */
  .game-slider {
    width: 100%;
    height: get-vw-hd(960px);
    position: relative;
    // z-index: 1;
    background-color: #000;
  }
  
  .game-slider-list {
    width: 100%;
    height: 100%;
  }
  .game-slider-img {
    position: relative;
    display: none;
    &.active{
      display: block;
    }
    width: 100%;
    height: 100%;
    background-size: cover;
    position: relative;
    @each $i in 1,2,3,4 {
      &[data-game-img="#{$i}"] {
        @if ($i != 3) {
          background: url('images/desk/about#{$i}.jpg?v=9') center center no-repeat;
          .poster {
            background: url('images/desk/about#{$i}.jpg?v=9') center center no-repeat;
          }
        } @else {
          background: url('images/desk/about#{$i}_3.jpg?v=9') center center no-repeat;
          .poster {
            background: url('images/desk/about#{$i}_3.jpg?v=9') center center no-repeat;
          }
        }
        .poster {
          @include position(absolute, 0);
          background-size: cover;
        }

        @media screen and (min-width: rem(781)) and (max-width: rem(1060)) {
          background-position: 40% center;
          .poster {
            background-position: 40% center;
          }
        }
      }
    }
  }

  .game-slider_block-pos {
    width: get-vw-hd(882px);
    position: absolute;
    top: get-vw-hd(210px);
    right: 30px;
    z-index: 100;
  }
  .game-slider_block-text {
    width: 100%;
    height: get-vw-hd(396px);
    background: url('images/desk/slider-text.png') 0 0 no-repeat;
    background-size: cover;
  }
  .game-slider_text-item {
    display: none;
    &.active{
      display: block;
    }
    padding-top: get-vw-hd(30px);
    padding-right: get-vw-hd(95px);
  }
  .game-slider_title {
    font-family: $kurale;
    font-size: get-vw-hd(50px);
    line-height: 1.15;
    margin-bottom: get-vw-hd(55px);
    color: #fff;
    text-shadow:  0 1px 0 rgba(69, 20, 17, .65),
                  0 2px 0 rgba(69, 20, 17, .65),
                  0 3px 0 rgba(69, 20, 17, .65);
    text-align: right;
  }
  .game-slider_text {
    font-family: $roboto;
    font-size: get-vw-hd(25px);
    line-height: 1.5;
    text-align: right;
  }
  
  .game-slider_pagins-flex {
    display: flex;
    justify-content: flex-end;
  }
  .game-slider_pagins {
    margin-top: get-vw-hd(10px);
    margin-right: get-vw-hd(95px);
    width: get-vw-hd(340px);
    display: flex;
    justify-content: space-between;
  }
  .game-slider_pagin-item {
    $h: get-vw-hd(60px);
    width: get-vw-hd(60px);
    height: $h;
    text-align: center;
    line-height: $h;
    font-family: $kurale;
    font-size: get-vw-hd(40px);
    color: #fff;
    cursor: pointer;
    background: linear-gradient(to top, rgba(91, 7, 2,.5), rgba(169, 32, 30,.5));
    &.active {
      background: linear-gradient(to top, rgba(162, 108, 30,.5), rgba(253, 171, 21,.5));
    }
  }
  
  .features {
    display: none;
  }
  /* ----------- smallDESK game-classes ----------- */
  .container {
    height: 100%;
  }
  .game-classes {
    width: 100%;
    height: get-vw-hd(1109px);
    background: url('images/desk/bg3.jpg') center center no-repeat;
    background-size: cover;
    position: relative;
    //padding-left: get-vw-hd(60px);
    //padding-right: get-vw-hd(60px);
    &::before {
      position: absolute;
      content: "";
      background: url('images/desk/bg3_before.png') 0 0 no-repeat;
      background-size: cover;
      left: 50%;
      transform: translateX(-50%);
      bottom: 100%;
      width: get-vw-hd(2560px);
      height: get-vw-hd(293px);
      margin-bottom: get-vw-hd(-3px);
      z-index: 0;
    }
  }

  .game_description_list {
    position: absolute;
    top: get-vw-hd(140px);
    left: get-vw-hd(90px);
    width: get-vw-hd(500px);
    z-index: 5;
  }
  .game_description_item {
    display: none;
    &.active {
      display: block;
    }
  }
  .game_description_title {
    font-family: $kurale;
    color: rgb(62, 46, 46);
    font-size: get-vw-hd(50px);
    line-height: 1.25;
    text-align: left;
    margin-bottom: get-vw-hd(20px);
  }
  .game_description_text {
    font-family: $roboto;
    color: rgb(62, 46, 46);
    font-size: get-vw-hd(28px);
    line-height: 1.55;
    text-align: left;
  }

  .game_btn-video {
    position: absolute;
    width: get-vw-hd(400px);
    top: get-vw-hd(480px);
    left: 0;
    display: block;
    z-index: 5;
    &:hover {
      text-decoration: none;
    }
  }
  .btn-video_img {
      background: url('images/desk/video-button.png') no-repeat;
      position: relative;
      &:after {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 100%;
        margin-left: get-vw-hd(11px);
        content: 'Смотреть видео';
        display: inline-block;
        width: get-vw-hd(190px);
        font-family: $kurale;
        font-size: get-vw-hd(26px);
        line-height: 1.15;
        color: #000;
        text-align: left;
        z-index: 1;
      }
  }
  .game_btn-text {
    display: none;
  }

  .game_pers-list {
    position: absolute;
    bottom: 0;
    right: 0;
    left: get-vw-hd(150px);
    margin: auto;
    width: get-vw-hd(1600px);
    height: get-vw-hd(1183px);
    z-index: 1;
  }
  .pers-item {
    display: none;
    width: 100%;
    height: 100%;
    &.active {
      display: block;
    }
    @for $i from 1 through 12 {
      &[data-pers="#{$i}"] {
        background: url('images/desk/pers-#{$i}.png') 0 0 no-repeat;
        background-size: 100% 100%;
      }
    }
  }



  /* ----------- smallDESK media ----------- */
  .media {
    width: 100%;
    height: get-vw-hd(1055px);
    background: url('images/desk/bg4.jpg') center center no-repeat;
    background-size: cover;
    position: relative;
    padding-top: get-vw-hd(55px);
    padding-bottom: get-vw-hd(50px);
    position: relative;
    z-index: 5;
  }
  .media_title {
    font-family: $kurale;
    font-size: get-vw-hd(50px);
    line-height: 1.15;
    margin-bottom: get-vw-hd(5px);
    color: #fff;
    text-shadow:  0 1px 0 rgba(69, 20, 17, .65),
                  0 2px 0 rgba(69, 20, 17, .65),
                  0 3px 0 rgba(69, 20, 17, .65);
    text-align: center;
  }

  .media-slider {
    padding-bottom: get-vw-hd(50px);
  }
    $s: 0.95;
  .media-slider-screep {
    width: get-vw-hd(1300px*$s);
    height: get-vw-hd(791px*$s);
    padding-top: get-vw-hd(62px*$s);
    background: url('images/desk/swipe-screen.png') 0 0 no-repeat;
    background-size: 100% 100%;
    margin: auto;
    position: relative;

    img.mobile {
      display: none;
    }
  }
  .swiper-pagination-block {
    text-align: center;
    //width: get-vw-hd(154px);
    height: get-vw-hd(33px);
    margin: auto;
    margin-top: get-vw-hd(40px);
  }
  .swiper-pagination {
    // width: 100%;
    position: relative;
  }
  .swiper-pagination-bullet {
    width: get-vw-hd(31px) !important;
    height: get-vw-hd(32px) !important;
    background: url('images/point.png') 0 0 no-repeat !important;
    background-size: cover !important;
    opacity: 1 !important;
    &+.swiper-pagination-bullet {
      margin-left: get-vw-hd(10px);
    }
  }
  .swiper-pagination-bullet-active {
    background: url('images/point-active.png') 0 0 no-repeat !important;
    background-size: cover !important;
  }

  .swiper-container {
    width: get-vw-hd(1172px*$s);
    height: get-vw-hd(665px*$s);
  }
  .swipe-icon {
    display: none;
  }
  .swiper-button-prev,
  .swiper-button-next {
    display: block;
    margin-top: 0 !important;
    transform: translateY(-50%);
  }
  .swiper-button-prev {
    background-image: url('images/desk/swiper-prev.png') !important;
    left: get-vw-hd(60px) !important;
  }
  .swiper-button-next {
    background-image: url('images/desk/swiper-next.png') !important;
    right: get-vw-hd(60px) !important;
  }
  .media-buy {
    display: none;
  }

  /* ----------- smallDESK footer ----------- */
  .footer {
    display: none;
  }
  .footer-desk {
    width: 100%;
    height: get-vw-hd(820px);
    background: url('images/desk/bg5.jpg') center center no-repeat;
    background-size: cover;
    position: relative;
  }

  .footer-desk{
    padding-top: get-vw-hd(65px);
  }

  .footer_title {
    font-family: $kurale;
    font-size: get-vw-hd(50px);
    line-height: 1.15;
    margin-bottom: get-vw-hd(55px);
    color: #fff;
    text-shadow:  0 1px 0 rgba(69, 20, 17, .65),
                  0 2px 0 rgba(69, 20, 17, .65),
                  0 3px 0 rgba(69, 20, 17, .65);
    text-align: center;
  }

  .footer_links {
    width: get-vw-hd(1100px);
    margin: auto;
    margin-bottom: get-vw-hd(70px);
    //display: flex;
    display: block;
    text-align: center;
    align-items: center;
    justify-content: space-between;
  }
  .footer_fb,
  .footer_vk,
  .footer_forum {
    //display: block;
    display: inline-block;
  }
  .footer_line {
    width: get-vw-hd(1220px);
    height: get-vw-hd(2px);
    background: url('images/desk/footer-line.png') 0 0 no-repeat;
    background-size: 100% 100%;
    margin: auto;
    margin-bottom: get-vw-hd(50px);
  }
  .share-mobile { 
    display: none; 
  } 
  .footer_text,
  .footer_text2 {
    margin: auto;
    margin-top: get-vw-hd(35px);
    font-family: $roboto;
    font-size: get-vw-hd(18px);
    line-height: 1.8;
    color: rgba(204, 204, 204, 0.7);
  }
  .footer_text {
    width: get-vw-hd(1000px);
  }
  .footer_text2 {
    margin-top: get-vw-hd(35px);
  }
  .info_links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: get-vw-hd(410px);
    margin: auto;
    margin-top: get-vw-hd(35px);
    a {
      font-family: $roboto;
      font-size: get-vw-hd(25px);
      color: rgb(251, 197, 132);
      text-decoration: underline;
    }
  }
  .footer_logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: get-vw-hd(410px);
    margin: auto;
    margin-top: get-vw-hd(40px);
  }

  .footer_perfect-world {
    display: block;
    // width: get-vw-hd(146px);
    // height: get-vw-hd(28px);
    width: get-vw-hd(162px);
    height: get-vw-hd(32px);
    background: url('images/logo_perfect-world2.png') no-repeat 0 0/cover;
  }
  .footer_lim {
    display: block;
    width: get-vw-hd(40px);
    height: get-vw-hd(40px);
    background: url('images/icon_footer_18.png') no-repeat 0 0; 
    background-size: 100% 100%; 
  }
  .footer_101xp {
    display: block;
    width: get-vw-hd(113px);
    height: get-vw-hd(45px);
    background: url('images/logo_101xp.png') no-repeat 0 0;
    background-size: 100% 100%;
  }

  .arrow-up {
    position: absolute;
    bottom: get-vw-hd(230px);
    right: 20px;
    &:after {
      position: absolute;
      content: "Наверх";
      font-family: $kurale;
      font-size: get-vw-hd(26px);
      color: rgba(#fff,.5);
      right: 50%;
      transform: translateX(50%);
      top: 100%;
      margin-top: get-vw-hd(5px);
      z-index: 1;
    }
    &:hover {
      &:after {
        color: rgba(#fff,.7);
      }
    }
  }

  /* ------ smallDESK FORM ------- */
  .wrap-popup-form {
    overflow: auto;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, .85);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 300;
  }

  .form_main {
    //position: absolute !important;
    // display: none;
    //top: 0;
    //left: 0;
    //right: 0;
    background: url('images/form/form.jpg') no-repeat 0 0 #2e0a0a;
    background-size: 100% auto;

    margin: rem(30) auto;

    padding-top: rem(7);
    padding-bottom: rem(50);
    width: 550px;
    //height: 930px;
    .bg_input {
      width: rem(430);
      margin: auto;
    }
    input {
      display: block;
      font-family: $oswald;
      font-size: 40px;
      text-align: center;
      background-color: rgb(41, 4, 4);
      width: 100%;
      height: rem(96);
      padding: rem(10);
      color: #fff;
      &:focus {
        // background-position: 0 -50px;
      }
      &.badchecked {
        color: #dc2411;
      }
      &.checked {
        color: #afc4d3;
      }
      &::-moz-placeholder {
        color: rgb(105,105,105);
      }
      &[placeholder] {
        color: rgb(105,105,105);
      }
    }

    .label_text-wrap {
      width: 100%;
      height: rem(24);
      margin: rem(8) 0;
    }
    .label_text {
      width: 100%;
      height: 100%;

      label {
        font-family: $kurale;
        font-size: rem(16);
        font-weight: 400;
        text-align: center;
        display: block;
        color: rgba(117, 117, 117, 0.8);
        padding: 0;
        opacity: 1;
        line-height: 1.2;

        &.animate {
          animation: border_color .7s ease;
        }
        &.error {
          color: rgb(108, 123, 134);
        }
        &.badchecked {
          color: rgba(199, 54, 20, 0.8);
        }
        &.checked {
          color: rgba(43, 222, 43, 0.69);
        }
      }
    }

    .play_btn {
      display: block;
      margin: auto;
      width: 436px;
      height: 122px;
      background: url('images/form/button-send.png') no-repeat;
      background-position: 0 0;
      background-size: 200% 100%;

      &:active {
        background-position: -436px 0;
      }
    }
  }

  .form_title {
    font-family: $kurale;
    font-size: rem(40);
    line-height: 1.4;
    padding-bottom: rem(13);
    color: #fff;
    text-shadow:  0 1px 0 rgba(69, 20, 17, .65),
                  0 2px 0 rgba(69, 20, 17, .65),
                  0 3px 0 rgba(69, 20, 17, .65);
    text-align: center;
  }
  .form_gift {
    width: 100%;
    margin: rem(10) auto;

    img {
      display: block;
      margin: 0 auto;

      max-width: rem(200);
    }
  }
  .form_text {
    margin-top: rem(18);
    font-family: $roboto;
    font-size: rem(24);
    line-height: 1.5;
  }

  .soc_text {
    margin-top: 30px;
    font-family: $roboto;
    font-size: 30px;
    line-height: 1.5;
    color: rgb(204,204,204);
  }

  .block_social {
    width: 445px;
    margin: auto;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .social_login {
      $socW: 90px;
      $socH: 90px;

      display: inline-block;

      width: $socW;
      height: $socH;

      &.soc {
          @each $social in fb, g, ya, tw {
              &_#{$social} {
                background: url('images/form/soc-#{$social}.png') no-repeat;
                background-size: cover;
                background-position: 0 0;

                  &:active {
                    background-position: 0 -$socW;
                  }
              }
          }
      }
  }

  .form-cross {
    position: absolute;
    width: 50px;
    height: 50px;
    right: -25px;
    top: -25px;
    background: url('images/form/cross.png') no-repeat;
    background-size: cover;
    background-position: 0 0;
    z-index: 1;
  }

  /* ------ smallDESK POPUP good ------- */
  .popup {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: url('images/popup/popup.png') 0 0 no-repeat;
    background-size: cover;
    width: 670px;
    height: 490px;
    margin: auto;
    margin-top: 396px;
    padding-top: 35px;
    &::before {
      position: absolute;
      content: "";
      background: url("images/popup/pers.png") 0 0 no-repeat;
      background-size: cover;
      left: 125px;
      bottom: 100%;
      margin-bottom: -4px;
      width: 578px;
      height: 386px;
      z-index: -1;
    }
  }

  .popup_title {
    font-family: $kurale;
    font-size: 50px;
    line-height: 1.4;
    padding-bottom: 40px;
    color: #fff;
    text-shadow:  0 1px 0 rgba(69, 20, 17, .65),
                  0 2px 0 rgba(69, 20, 17, .65),
                  0 3px 0 rgba(69, 20, 17, .65);
    text-align: center;
  }
  .popup_text {
    margin-top: 30px;
    font-family: $roboto;
    font-size: 30px;
    line-height: 1.5;
  }
  .popup_btn-done {
    display: block;
    margin: auto;
    width: 436px;
    height: 122px;
    background: url('images/popup/button-done.png') no-repeat;
    background-position: 0 0;
    background-size: 200% 100%;
    margin-top: 30px;
    &:active {
      background-position: -436px 0;
    }
  }
}


@media screen and (min-width: 1101px) {
  .logo-land {
    width: 1000px;
    margin: auto;
    margin-bottom: 40px;
    display: flex;
    align-items: top;
    justify-content: space-between;
  }
  .logo_perfect-world {
    //width: 256px*0.9;
    //height: 49px*0.9;
    //width: floor(648px*0.355);
    //height: floor(128px*0.355);
    width: 230px;
    height: 45px;
    margin-top: 20px;
    background: url('images/logo_perfect-world2.png') center center no-repeat;
    background-size: 100% 100%;
  }
  .logo_jade-dynasty {
    width: 457px;
    height: 222px;
    transform: translateX(-11%);
    background: url('images/logo_jade-dynasty.png') center center no-repeat;
    background-size: cover;
  }
  .logo_101xp {
    width: 149px;
    height: 59px;
    margin-top: 10px;
    background: url('images/logo_101xp.png') 0 0 no-repeat;
    background-size: 100% 100%;
  }
}

@media screen and (min-width: 1381px) {
  .wrap-land {
    overflow: hidden;
  }
  /* ----------- DESK wrap-land ----------- */

  .lang-desk {
    position: absolute;
    top: 10px;
    right: 0;
    left: 0;
    height: 56px;
    width: 1280px;
    margin: auto;
    z-index: 5;
    .lang_selector {
      top: 0;
      right: 10px;
    }
  }

  .header-land {
    width: 100%;
    height: 888px;
    padding-top: 50px;
    background: url('images/desk/bg1.jpg') center center no-repeat;
    background-size: cover;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      background: url('images/desk/bg1_after.png') 0 0 no-repeat;
      background-size: cover;
      left: 50%;
      transform: translateX(-50%);
      top: 100%;
      width: 2560px;
      height: 177px;
      margin-top: -3px;
      z-index: 5;
    }
  }
  .share-desk {
    display: block;
  }
  .share-desk__buttons {
    position: fixed;
    top: 27%;
    left: 20px;
    z-index: 10;
  }

  .new-age {
    position: relative;
    width: 550px;
    margin: auto;
  }
  .new-age_title {
    font-family: $kurale;
    font-size: 36px;
    line-height: 1.2;
    margin-bottom: 20px;
    color: rgb(62,46,46);
    span {
      text-transform: uppercase;
      font-weight: bold;
      position: relative;
      font-size: 50px;
      color: #59496b;
    }
  }
  .new-age_text {
    font-family: $roboto;
    font-size: 30px;
    line-height: 1.2;
    color: rgb(62,46,46);
    padding: 50px 0;

    strong {
      text-transform: uppercase;
      color: #59496b;
    }
  }
  .new-age_btn {
    display: block;
    background: url('images/button-gift.png') no-repeat;
    background-position: 0 0;
    background-size: 200% 100%;
    $width: 440px;
    width: $width;
    height: 138px;
    z-index: 5;
    cursor: pointer;
    margin: auto;
    margin-top: 20px;
    &:active {
      background-position: ($width * -1) 0;
    }
  }

  /* ----------- DESK video-block ----------- */
  .video-block {
    display: none;
  }
  .game-slider {
    width: 100%;
    height: 960px;
    position: relative;
    // z-index: 1;
    background-color: #000;
  }

  .game-slider-list {
    width: 100%;
    height: 100%;
  }
  .game-slider-img {
    position: relative;
    display: none;
    &.active{
      display: block;
    }
    width: 100%;
    height: 100%;
    background-size: cover;
    position: relative;
    @each $i in 1,2,3,4 {
      &[data-game-img="#{$i}"] {
        @if ($i != 3) {
          background: url('images/desk/about#{$i}.jpg?v=9') center center no-repeat;
          .poster {
            background: url('images/desk/about#{$i}.jpg?v=9') center center no-repeat;
          }
        } @else {
          background: url('images/desk/about#{$i}_3.jpg?v=9') center center no-repeat;
          .poster {
            background: url('images/desk/about#{$i}_3.jpg?v=9') center center no-repeat;
          }
        }
        .poster {
          @include position(absolute, 0);
          background-size: cover;
        }
      }
    }
  }

  .game-slider_block-pos {
    width: 882px;
    position: absolute;
    top: 300px;
    right: 0;
    left: 290px;
    margin: auto;
    z-index: 100;
  }
  .game-slider_block-text {
    width: 100%;
    height: 396px;
    background: url('images/desk/slider-text.png') 0 0 no-repeat;
    background-size: cover;
  }
  .game-slider_text-item {
    display: none;
    &.active{
      display: block;
    }
    padding-top: 30px;
    padding-right: 95px;
  }
  .game-slider_title {
    font-family: $kurale;
    font-size: 50px;
    line-height: 1.15;
    margin-bottom: 35px;
    color: #fff;
    text-shadow:  0 1px 0 rgba(69, 20, 17, .65),
                  0 2px 0 rgba(69, 20, 17, .65),
                  0 3px 0 rgba(69, 20, 17, .65);
    text-align: right;
  }
  .game-slider_text {
    font-family: $roboto;
    font-size: 25px;
    line-height: 1.5;
    text-align: right;
    padding-left: 90px;
  }

  .game-slider_pagins-flex {
    display: flex;
    justify-content: flex-end;
  }
  .game-slider_pagins {
    margin-top: 10px;
    margin-right: 95px;
    width: 340px;
    display: flex;
    justify-content: space-between;
  }
  .game-slider_pagin-item {
    $h: 60px;
    width: 60px;
    height: $h;
    text-align: center;
    line-height: $h;
    font-family: $kurale;
    font-size: 40px;
    color: #fff;
    cursor: pointer;
    background: linear-gradient(to top, rgba(91, 7, 2,.5), rgba(169, 32, 30,.5));
    &.active {
      background: linear-gradient(to top, rgba(162, 108, 30,.5), rgba(253, 171, 21,.5));
    }
  }

  .features {
    display: none;
  }
  /* ----------- DESK game-classes ----------- */
  .container {
    height: 100%;
    width: 100%;
    //max-width: 1260px;
  }
  .game-classes {
    width: 100%;
    height: 1109px;
    background: url('images/desk/bg3.jpg') center center no-repeat;
    background-size: cover;
    position: relative;

    //padding-left: rem(90);
    //padding-right: rem(90);

    &::before {
      position: absolute;
      content: "";
      background: url('images/desk/bg3_before.png') 0 0 no-repeat;
      background-size: 100% 100%; 
      left: 50%;
      transform: translateX(-50%);
      bottom: 100%;
      width: 2560px;
      height: 285px;
      margin-bottom: -3px;
      z-index: 0;
    }
  }

  .game_description_list {
    position: absolute;
    top: 140px;
    left: rem(90);
    width: 610px;
    z-index: 5;
  }
  .game_description_item {
    display: none;
    &.active {
      display: block;
    }
  }
  .game_description_title {
    font-family: $kurale;
    color: rgb(62, 46, 46);
    font-size: 50px;
    line-height: 1.25;
    text-align: left;
    margin-bottom: 20px;
  }
  .game_description_text {
    font-family: $roboto;
    color: rgb(62, 46, 46);
    font-size: 28px;
    line-height: 1.55;
    text-align: left;
  }

  .game_btn-video {
    position: absolute;
    width: 400px;
    top: rem(420);
    left: 0;
    display: block;
    z-index: 5;
    &:hover {
      text-decoration: none;
    }
  }
  .btn-video_img {
      $width: 135px;
      width: $width;
      height: 137px;
      background: url('images/desk/video-button.png') 0 0 no-repeat;
      background-size: 200% 100%;
      background-position: 0 0;
      &:active {
        background-position: -$width 0;
      }
      position: relative;
      &:after {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 100%;
        margin-left: 20px;
        content: 'Смотреть видео';
        display: inline-block;
        width: 190px;
        font-family: $kurale;
        font-size: 26px;
        line-height: 1.15;
        color: #000;
        text-align: left;
        z-index: 1;
      }
  }
  .game_btn-text {
    display: none;
  }

  .game_pers-list {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 200px;
    margin: auto;
    width: 1600px;
    height: 1183px;
    z-index: 1;
  }
  .pers-item {
    display: none;
    width: 100%;
    height: 100%;
    &.active {
      display: block;
    }
    @for $i from 1 through 12 {
      &[data-pers="#{$i}"] {
        background: url('images/desk/pers-#{$i}.png') 0 0 no-repeat;
        background-size: 100% 100%;
      }
    }
  }


  /* ----------- DESK media ----------- */
  .media {
    width: 100%;
    height: 1055px;
    background: url('images/desk/bg4.jpg') center center no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 55px;
    padding-bottom: 50px;
    position: relative;
    z-index: 5;
  }
  .media_title {
    font-family: $kurale;
    font-size: 50px;
    line-height: 1.15;
    margin-bottom: 5px;
    color: #fff;
    text-shadow:  0 1px 0 rgba(69, 20, 17, .65),
                  0 2px 0 rgba(69, 20, 17, .65),
                  0 3px 0 rgba(69, 20, 17, .65);
    text-align: center;
  }

  .media-slider {
    padding-bottom: 50px;
  }
    $s: 0.95;
  .media-slider-screep {
    width: 1300px*$s;
    height: 791px*$s;
    padding-top: 62px*$s;
    background: url('images/desk/swipe-screen.png') 0 0 no-repeat;
    background-size: 100% 100%;
    margin: auto;
    position: relative;
  }
  .swiper-pagination-block {
    //width: 154px;
    height: 33px;
    margin: auto;
    margin-top: 40px;
  }
  .swiper-pagination {
    // width: 100%;
  }
  .swiper-pagination-bullet {
    width: 31px !important;
    height: 32px !important;
    background: url('images/point.png') 0 0 no-repeat !important;
    background-size: cover !important;
    opacity: 1 !important;
    &+.swiper-pagination-bullet {
      margin-left: 10px;
    }
  }
  .swiper-pagination-bullet-active {
    background: url('images/point-active.png') 0 0 no-repeat !important;
    background-size: cover !important;
  }

  .swiper-container {
    width: 1172px*$s;
    height: 665px*$s;
  }
  .swipe-icon {
    display: none;
  }
  .swiper-button-prev,
  .swiper-button-next {
    margin-top: 0 !important;
    transform: translateY(-50%);
  }
  .swiper-button-prev {
    $width: 100px;
    width: $width !important;
    height: 100px !important;
    background-image: url('images/desk/swiper-prev.png') !important;
    background-position: 0 0 !important;
    background-size: 200% 100% !important;
    left: 61px !important;
    &:active {
      background-position: -$width 0 !important;
    }
  }
  .swiper-button-next {
    display: block;
    $width: 100px;
    width: $width !important;
    height: 100px !important;
    background-image: url('images/desk/swiper-next.png') !important;
    background-position: -$width 0 !important;
    background-size: 200% 100% !important;
    right: 61px !important;
    &:active {
      background-position: 0 0 !important;
    }
  }
  .media-buy {
    display: none;
  }

  /* ----------- DESK footer ----------- */
  .footer-desk {
    width: 100%;
    height: 820px;
    background: url('images/desk/bg5.jpg') center center no-repeat;
    background-size: cover;
    position: relative;
  }

  .footer-desk{
    padding-top: 65px;
  }

  .footer_title {
    font-family: $kurale;
    font-size: 50px;
    line-height: 1.15;
    margin-bottom: 55px;
    color: #fff;
    text-shadow:  0 1px 0 rgba(69, 20, 17, .65),
                  0 2px 0 rgba(69, 20, 17, .65),
                  0 3px 0 rgba(69, 20, 17, .65);
    text-align: center;
  }

  .footer_links {
    width: 1100px;
    margin: auto;
    margin-bottom: 70px;
    //display: flex;
    display: block;
    text-align: center;
    align-items: center;
    justify-content: space-between;
  }

  @each $footer_btn in fb, vk, forum {
    .footer_#{$footer_btn} {
      //display: block;
      display: inline-block;
      $width: 298px;
      width: $width;
      height: 122px;
      background: url('images/desk/button-#{$footer_btn}.png') no-repeat;
      background-position: 0 0;
      background-size: 300% 100%;
      &:hover {
        background-position: ($width*-1) 0;
      }
      &:active {
        background-position: ($width*-2) 0;
      }
    }
  }

  .footer_line {
    width: 1220px;
    height: 2px;
    background: url('images/desk/footer-line.png') 0 0 no-repeat;
    background-size: 100% 100%;
    margin: auto;
    margin-bottom: 50px;
  }
  .footer_text,
  .footer_text2 {
    margin: auto;
    margin-top: 35px;
    font-family: $roboto;
    font-size: 18px;
    line-height: 1.8;
    color: rgba(204, 204, 204, 0.7);
  }
  .footer_text {
    width: 1000px;
  }
  .footer_text2 {
    margin-top: 35px;
  }
  .info_links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 410px;
    margin: auto;
    margin-top: 35px;
    a {
      font-family: $roboto;
      font-size: 25px;
      color: rgb(251, 197, 132);
      text-decoration: underline;
    }
  }
  .footer_logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 410px;
    margin: auto;
    margin-top: 40px;
  }

  .footer_perfect-world {
    display: block;
    //width: floor(648px*0.25);
    //height: floor(128px*0.25);
    width: 162px;
    height: 32px;
    background: url('images/logo_perfect-world2.png') no-repeat 0 0/cover;
  }
  .footer_lim {
    display: block;
    width: 40px;
    height: 40px;
    background: url('images/icon_footer_18.png') no-repeat 0 0;
    background-size: 100% 100%;  
  }
  .footer_101xp {
    display: block;
    width: 113px;
    height: 45px;
    background: url('images/logo_101xp.png') no-repeat 0 0;
    background-size: 100% 100%;  
  }

  .arrow-up {
    position: absolute;
    bottom: 230px;
    right: 0px;
    width: 80px;
    height: 80px;
    background: url('images/arrow-up.png') no-repeat 0 0/cover;
    cursor: pointer;
    &:after {
      position: absolute;
      content: "Наверх";
      font-family: $kurale;
      font-size: 26px;
      color: rgba(#fff,.5);
      right: 50%;
      transform: translateX(50%);
      top: 100%;
      margin-top: 5px;
      z-index: 1;
    }

    &:hover {
      background-position: -80px 0;
      &:after {
        color: rgba(#fff,.7);
      }
    }
  }
}

@media screen and (min-width: 1441px) {
  .container {
    max-width: 1260px;
  }
  .game_description_list {
    left: 0;
  }
}

@media screen and (min-width: 1920px) {
  .share-desk {
    position: fixed;
    top: 27%;
    right: 0;
    left: 0;
    width: 1890px;
    margin: auto;
    z-index: 100;
  }
  .share-desk__buttons {
    position: absolute;
    top: 0;
    left: 0;
  }
}


@mixin adaptiveHD($coef) {
  .new-age_btn {
    background: url('images/button-gift.png') no-repeat;
    background-position: 0 0;
    background-size: 200% 100%;
    $width: floor(440px *$coef);
    width: $width;
    height: 138px *$coef;
    &:active {
      background-position: ($width * -1) 0;
    }
  }

  .btn-video_img {
      $width: floor(135px *$coef);
      width: $width;
      height: floor(137px *$coef);
      background-size: 200% 100%;
      background-position: 0 0;
      &:active {
        background-position: -$width 0;
      }
  }

  //.game_icons-list {
  //  width: 1223px *$coef;
  //  height: 96px *$coef;
  //  bottom: 190px *$coef;
  //}
  //.icon-item {
  //  $width: floor(145px *$coef);
  //  width: $width;
  //  height: floor(145px *$coef);
  //  &[data-icon="1"] {
  //    left: -340px *$coef;
  //    top: 0;
  //  }
  //  &[data-icon="2"] {
  //    right: -340px *$coef;
  //    top: 0;
  //  }
  //  &[data-icon="3"] {
  //    top: 0;
  //  }
  //  &[data-icon="4"] {
  //    left: -680px *$coef;
  //    top: 0;
  //  }
  //  &[data-icon="5"] {
  //    right: -680px *$coef;
  //    top: 0;
  //  }
  //  &[data-icon="6"] {
  //    top: 0;
  //    right: -1020px *$coef;
  //  }
  //  &[data-icon="7"] {
  //    top: 0;
  //    left: -1020px *$coef;
  //  }
  //  @for $i from 1 through 10 {
  //    &[data-icon="#{$i}"] {
  //      background: url('images/desk/icon-#{$i}.png') no-repeat;
  //      background-size: 200% 100%;
  //      background-position: ($width*-1) 0;
  //    }
  //  }
  //  &.active {
  //    background-position: 0 0;
  //  }
  //}

  .swiper-button-prev {
    $width: floor(100px *$coef);
    width: $width !important;
    height: floor(100px *$coef) !important;
    background-image: url('images/desk/swiper-prev.png') !important;
    background-position: 0 0 !important;
    background-size: 200% 100% !important;
    &:active {
      background-position: -$width 0 !important;
    }
  }
  .swiper-button-next {
    $width: floor(100px *$coef);
    width: $width !important;
    height: floor(100px *$coef) !important;
    background-image: url('images/desk/swiper-next.png') !important;
    background-position: -$width 0 !important;
    background-size: 200% 100% !important;
    &:active {
      background-position: 0 0 !important;
    }
  }

  @each $share_btn in fb, vk, ok, mm {
    .share-desk__#{$share_btn} {
      display: block;
      $width: floor(73px *$coef);
      width: $width;
      height: 75px *$coef;
      background: url('images/desk/share-#{$share_btn}.png') no-repeat;
      background-position: 0 0;
      background-size: 300% 100%;
      &:hover {
        background-position: ($width*-1) 0;
      }
      &:active {
        background-position: ($width*-2) 0;
      }
    }
  }

  @each $footer_btn in fb, vk, forum {
    .footer_#{$footer_btn} {
      $width: floor(298px *$coef);
      width: $width;
      height: 122px *$coef;
      background: url('images/desk/button-#{$footer_btn}.png') no-repeat;
      background-position: 0 0;
      background-size: 300% 100%;
      &:hover {
        background-position: ($width*-1) 0;
      }
      &:active {
        background-position: ($width*-2) 0;
      }
    }
  }

  .arrow-up {
    $width: floor(80px *$coef);
    width: $width;
    height: floor(80px *$coef);
    background: url('images/arrow-up.png') no-repeat 0 0/cover;
    cursor: pointer;
    &:hover {
      background-position: -$width 0;
    }
  }
}


@mixin mediaBrakepointsHD($fromMediaWidth, $toMediaWidth:300, $stepWidth: 20, $stepCoefInitial: $stepWidth/1000){
  $media_width: $fromMediaWidth;
  $stepCoef: $stepCoefInitial;
  @while $media_width >= $toMediaWidth {
    @media screen and (max-width: #{$media_width}px) {
      $media_width: $media_width - $stepWidth;
      $coef: 1 - $stepCoef;
        $stepCoef: $stepCoef + $stepCoefInitial;
        @include adaptiveHD($coef);
    }
  }
}

@mixin adaptiveHeightHD($coef) {
  .form_main {
    //position: absolute !important;
    // display: none;
    //top: 0;
    //left: 0;
    //right: 0;
    background: url('images/form/form.jpg') no-repeat 0 0 #2e0a0a;
    background-size: 100% auto;

    margin: rem(30 *$coef) auto;

    padding-top: rem(7 *$coef);
    padding-bottom: rem(50 *$coef);
    width: 550px *$coef;
    //height: 930px;
    .bg_input {
      width: rem(430 *$coef);
      margin: auto;
    }
    input {
      display: block;
      font-family: $oswald;
      font-size: 40px *$coef;
      text-align: center;
      background-color: rgb(41, 4, 4);
      width: 100%;
      height: rem(96 *$coef);
      padding: rem(10 *$coef);
      color: #fff;
      &:focus {
        // background-position: 0 -50px;
      }
      &.badchecked {
        color: #dc2411;
      }
      &.checked {
        color: #afc4d3;
      }
      &::-moz-placeholder {
        color: rgb(105, 105, 105);
      }
      &[placeholder] {
        color: rgb(105, 105, 105);
      }
    }

    .play_btn {
      display: block;
      margin: auto;
      width: 436px *$coef;
      height: 122px *$coef;
      background: url('images/form/button-send.png') no-repeat;
      background-position: 0 0;
      background-size: 200% 100%;

      &:active {
        background-position: -436px *$coef 0;
      }
    }
  }

  .form_title {
    font-family: $kurale;
    font-size: rem(40 *$coef);
    line-height: 1.4;
    padding-bottom: rem(13 *$coef);
    color: #fff;
    text-shadow: 0 1px 0 rgba(69, 20, 17, .65),
    0 2px 0 rgba(69, 20, 17, .65),
    0 3px 0 rgba(69, 20, 17, .65);
    text-align: center;
  }
  .form_gift {
    width: 100%;
    margin: rem(10 *$coef) auto;

    img {
      display: block;
      margin: 0 auto;

      max-width: rem(200 *$coef);
    }
  }
  .form_text {
    margin-top: rem(18 *$coef);
    font-family: $roboto;
    font-size: rem(24 *$coef);
    line-height: 1.5;
  }

  .soc_text {
    margin-top: 30px *$coef;
    font-family: $roboto;
    font-size: 30px *$coef;
    line-height: 1.5;
    color: rgb(204, 204, 204);
  }

  .block_social {
    width: 445px *$coef;
    margin: auto;
    margin-top: 15px *$coef;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .social_login {
    $socW: 90px *$coef;
    $socH: 90px *$coef;

    display: inline-block;

    width: $socW;
    height: $socH;

    &.soc {
      @each $social in fb, g, ya, tw {
        &_#{$social} {
          background: url('images/form/soc-#{$social}.png') no-repeat;
          background-size: cover;
          background-position: 0 0;

          &:active {
            background-position: 0 -$socW;
          }
        }
      }
    }
  }
  /* ------ smallDESK POPUP good ------- */
  .popup {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-top: 396px *$coef;
    background: url('images/popup/popup.png') 0 0 no-repeat;
    background-size: cover;
    width: 670px *$coef;
    height: 490px *$coef;
    padding-top: 35px *$coef;
    &::before {
      position: absolute;
      content: "";
      background: url("images/popup/pers.png") 0 0 no-repeat;
      background-size: cover;
      left: 125px *$coef;
      bottom: 100%;
      margin-bottom: -4px *$coef;
      width: 578px *$coef;
      height: 386px *$coef;
      z-index: -1;
    }
  }

  .popup_title {
    font-family: $kurale;
    font-size: 50px *$coef;
    line-height: 1.4;
    padding-bottom: 40px *$coef;
    color: #fff;
    text-shadow:  0 1px 0 rgba(69, 20, 17, .65),
    0 2px 0 rgba(69, 20, 17, .65),
    0 3px 0 rgba(69, 20, 17, .65);
    text-align: center;
  }
  .popup_text {
    margin-top: 30px *$coef;
    font-family: $roboto;
    font-size: 30px *$coef;
    line-height: 1.5;
  }
  .popup_btn-done {
    display: block;
    margin: auto;
    width: 436px *$coef;
    height: 122px *$coef;
    background: url('images/popup/button-done.png') no-repeat;
    background-position: 0 0;
    background-size: 200% 100%;
    margin-top: 30px *$coef;
    &:active {
      background-position: -436px *$coef 0;
    }
  }
}
@mixin mediaBrakepointsHeightHD($fromMediaHeight, $toMediaHeight:300, $stepHeight: 20, $stepCoefInitial: $stepHeight/1000){
  $media_height: $fromMediaHeight;
  $stepCoef: $stepCoefInitial;
  @while $media_height >= $toMediaHeight {
    @media screen and (min-width: 751px) and (max-height: #{$media_height}px) {
      $media_height: $media_height - $stepHeight;
      $coef: 1 - $stepCoef;
      $stepCoef: $stepCoef + $stepCoefInitial;
      @include adaptiveHeightHD($coef);
    }
  }
}



// решил game_icons-list сделать по другой схеме media
.game_icons-list {
  width: 1223px;
  height: 96px;
  position: absolute;
  bottom: 190px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  z-index: 5;
}
.icon-item {
  //position: absolute;
  //left: 0;
  //right: 0;
  margin: auto;
  $width: 96px;
  width: $width;
  height: 96px;
  // 7, 4, 1, 3, 2, 5, 6, 8, 9, 10
  //&[data-icon="1"] {
  //  top: 0;
  //  left: -340px;
  //}
  //&[data-icon="2"] {
  //  top: 0;
  //  right: -340px;
  //}
  //&[data-icon="3"] {
  //  top: 0;
  //}
  //&[data-icon="4"] {
  //  top: 0;
  //  left: -680px;
  //}
  //&[data-icon="5"] {
  //  top: 0;
  //  right: -680px;
  //}
  //&[data-icon="6"] {
  //  top: 0;
  //  right: -1020px;
  //}
  //&[data-icon="7"] {
  //  top: 0;
  //  left: -1020px;
  //}
  @for $i from 1 through 12 {
    &[data-icon="#{$i}"] {
      background: url('images/icons2/#{$i}.png') no-repeat;
      background-size: 200% 100%;
      background-position: 0 0;
    }
  }
  &.active {
    background-position: ($width*-1) 0;
  }
}

@media screen and (max-width: 1410px) {
  .game_icons-list {
    width: 1250px;
  }
}



@media screen and (max-width: 1250px) {
  .game_icons-list {
    width: 100%;
    height: get-vw1160(96px);
    position: absolute;
    bottom: get-vw1160(160px);
    right: 0;
    left: 0;
    margin: auto;
  }
  .icon-item {
    margin: auto;
    $width: get-vw1160(96px);
    width: $width;
    height: get-vw1160(96px);

    @for $i from 1 through 12 {
      &[data-icon="#{$i}"] {
        background: url('images/icons2/#{$i}.png') no-repeat;
        background-size: 200% 100%;
        background-position: 0 0;
      }
    }
    &.active {
      background-position: ($width*-1) 0;
    }
  }
}

@include mediaBrakepointsHD(1400,781,50,0.04);
@include mediaBrakepointsHeightHD(980,530,50,0.05);
